body{
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.444), rgba(208, 45, 45, 0.800)), url(back.jpg);
  background-repeat: no-repeat;
  background-size: cover;}
  
.field-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    text-align: center;
}

input::placeholder{
font-style: italic;
color: white;
}
.input-flex{
    margin-top: 50px;
}
.input{
    width: 20rem;
    height: 2rem;
    background-color: transparent;
    border: 2px solid white;
    opacity: 1;
    color: white;
}
.input:focus{
    outline: none;
}

.button{
    width: 7rem;
    height: 2.4rem;
    background-color: rgb(168, 6, 6);
    border: none;
    color: white;
    font-weight: bold;


}
#preloader{
    background: rgba(254, 254, 254, 0.695) url(loader.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    display: none;
}
.delay{
    display: none;
}

input[type="file"]{
    
}
input[type="file"]::-webkit-file-upload-button{
    background-color: red;
    border: none;
    color: white;
    padding: 7px;
}

label{
text-align: center;
border: 2px solid white;
padding: 7px;
}